body {
    background-color: black;
}

.query-box {
    background-color: grey;
    box-shadow: 8px 8px 5px 0px rgba(216, 14, 155, 0.3); 
}

#stats-area {
    background-color: grey;
    box-shadow: 8px 8px 5px 0px rgba(216, 14, 155, 0.3); 
}

#page-header {
    color: black;
    font-size: 40px;
}

#stats-header {
    color: black;
    font-size: 40px;
}

#retained {
    background-color: aqua;
}
